<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <img alt="Brand" src="">
      </a>
    </div>
    <div class="navbar-left">
      <div class="search-bar">
        <form ng-controller="SearchCtrl" ng-submit="getGames()">
          <div class="form-group">
          <input type="text" ng-model="query" placeholder="Search games" class="form-control">
          </div>
        </form>
        <%= image_tag 'spinner.gif', class:'search-spinner' %>
      </div>
    </div>
    <a class="navbar-link" ui-sref="welcome">Welcome</a>
    <a class="navbar-link" ui-sref="intro">Introduction</a>
    <a class="navbar-link" ui-sref="profile-edit">profile-edit</a>
    <div class="navbar-right navbar-text">
      <% if current_user %>
        <a class="navbar-link" ui-sref="games">MY GAMES</a>
        <a class="navbar-link" ui-sref="profile"><%= current_user.username.upcase %></a> | <%= link_to "Logout", logout_path, class:"navbar-link" %>
      <% else %>
        <%= link_to "Login", login_path, class:"navbar-link" %> |
        <%= link_to "Sign up", signup_path, class:"navbar-link" %>
      <% end %>
    </div>
  </div>
</div>



<div class="main-container container animate-repeat" ui-view></div>

<div class="navbar navbar-inverse footer">
      <p class="navbar-text navbar-left">WDI Project 4 - Created by Rami Burpee</p>
      <a class="gh-footer-link navbar-left navbar-link" href="https://github.com/ramijan/goodgames_v2" target="_blank"><i class="fa fa-github fa-2x"></i></a>

      <a class="li-footer-link navbar-left navbar-link" href="https://www.linkedin.com/pub/rami-burpee/18/8b8/a56" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>

    <a class="navbar-right gb-footer-link" href="http://www.giantbomb.com" target="_blank"><%= image_tag 'giant-bomb-logo.png', height:'40' %></a>
    <p class="navbar-text navbar-right">Powered by:&nbsp; </p>
</div>

<style>
.search-bar {
  position: relative;
  width: 300px;
  top: 8px;
}
.search-spinner {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
.footer {
  position: relative;
  margin-bottom: 0;
}
.gb-footer-link {
  margin-right: 10px;
  margin-top: 5px;
}
.gh-footer-link,
.li-footer-link {
  margin-top: 10px;
  margin-right: 15px;
}


</style>